.deckInput {
  width: 35px;
}

.deck_control {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

@media only screen and (min-width: 500px) {
  .deck_control {
    display: block;
  }
}

@media only screen and (min-width: 1100px) {

}