.dealer-section {
  display: flex;
  justify-content: center;
  height: 15vh;
  max-height: 180px;
  min-height: 120px;
}

.dealer-result {
  bottom: 80px;
}


@media only screen and (min-width: 500px) {
  .dealer-section {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    height: 30vh;
    max-height: 250px;
    min-height: 200px;
  }
  
}