.controls {
  display: flex;
  justify-content: center;
  background-color: #1c7438;
}

.actions {
  width: 100%;
  padding-top: 12px;
}

.action {
  margin: 5px;
  font-size: 12px;
  padding: 8px;
  width: 45%;
  height: 30px;
  max-width: 170px;
  border-radius: 25px;
  background-color: white;
}

.action.wide {
  max-width: 200px;
}


@media only screen and (min-width: 500px) {
  .action {
    font-size: 18px;
    height: 60px;
    max-width: 250px;
    margin: 10px;
  }

  .actions {
    padding-top: 25px;
  }

}