* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: rgb(68, 68, 68);
  text-align: center;
  line-height: 1.15;
}

header {
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

section {
  padding: 0px 15px;
}

p {
  background-color: white;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

main {
  min-height: 100vh;
}

header > h1 {
  font-size: 30px;
  color: white;
  margin: 5px;
}

@media only screen and (min-width: 500px) {

  header {
    padding: 15px;
  }
  

  body {
    font-size: 20px;
    line-height: 1.5;
  };

  p + p {
    margin-top: 15px;
  }

}

@media only screen and (min-width: 500px) and (max-width: 1000px) {

  header > h1 {
    font-size: 40px;
  }

}

@media only screen and (min-width: 1000px) {

  .app_name {
    margin-left: -250px;
  }

  header > h1 {
    font-size: 50px;
  }

}